mixin pictureJpgWebp(file, width, height, altText, cssClass)
  picture
    source(type="image/webp", srcset= `./img/${file}?as=webp`)
    img(class= cssClass, src= `./img/${file}`, width=width, height=height, alt= altText)

mixin topImage(filenameName, altText)
  .wrapper
    .top-image
      if block
        block
      else
        +pictureJpgWebp(filenameName, 967, 628, altText)

mixin formInput({ inputName, inputType, placeholder, label, cols, rows, optionsArray, isRequired, isHidden })
  if isHidden !== true
    label.visuallyhidden(for= inputName)= label
  if inputType === 'textarea'
    textarea(id= inputName, name= inputName, cols= cols, rows= rows, placeholder= placeholder, required= isRequired, hidden= isHidden)
  else if inputType === 'select'
    select(id= inputName, name= inputName, required= isRequired)
      option(label= placeholder)
      each optionItem in optionsArray
        option= optionItem
  else if inputType === 'file'
    label= label
      input(id= inputName, type= inputType, name= inputName, required= isRequired, hidden= isHidden)
  else
    input(id= inputName, type= inputType, name= inputName, placeholder= placeholder, required= isRequired, hidden= isHidden)

mixin simpleButton(text, additionalClassesArray, href)
  - const cssClass = 'button ' + additionalClassesArray.join(' ');
  - const linkHref = href ? href : '#';
  a(class= cssClass, href= linkHref)= text

mixin employeeCard({ firstname, surname, hrefLink, photoURL, position }, linkText)
  li.employee
    a.employee__card-link.animated-appearance(href= hrefLink ? hrefLink : '##', onclick= hrefLink ? false : 'return false')
      h3.employee__name.title3!= `${firstname} <br>${surname}`
      +pictureJpgWebp(photoURL, 221, 278, `${surname}, портрет`, 'employee__photo')
      p.employee__position.main-text= position
      p.employee__link.links-text= linkText ? linkText : 'подробнее'
